*, *:before, *:after {box-sizing:  border-box !important;}

img {
  width: 100%;
  height: auto;
}

.date-taken, .username, .likes, .comments {
  color: rgb(189, 189, 189);
}

.row {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em;

}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%;
}

.well {
 position:relative;
 display: block;
}

.tags-list {
  display: inline;
}

.tag {
  border: 1px solid black;
  text-align: center;
}
